In [91]:
import numpy as np
import pandas as pd

In [92]:
df=pd.read_csv("C:\\Users\\HP\\Desktop\\Datasets\\sent_analysis.csv")

In [93]:
df[df["class"]=="pos"]

Empty DataFrame
Columns: [class, text]
Index: []

In [94]:
df=df.sample(frac=1)

In [95]:
df

     class                                               text
1955   Neg   words i thought i d never write   the sequel ...
1427   Neg      mandingo   has traditionally been seen as ...
424    Pos   i can sum up first strike in one word   aweso...
186    Pos   i ve never been a member of the robin william...
1666   Neg   when a pair of films from the same director g...
...    ...                                                ...
1335   Neg   the most interesting thing about virus is tha...
1790   Neg   america s favorite homicidal plaything takes ...
1606   Neg   filmmakers will use all manner of tricks to f...
189    Pos   part one of   the strangest movies ever made ...
1324   Neg   i wish more films would take on issues of fai...

[2000 rows x 2 columns]

In [96]:
df=df.sample(frac=1)

In [97]:
X=df["text"]

In [98]:
y=df["class"]

In [99]:
from sklearn.model_selection import train_test_split

In [100]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.20)

In [101]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer

In [102]:
cv=CountVectorizer()

In [103]:
cv.fit(Xtrain)

CountVectorizer()

In [104]:
Xtrain_cv=cv.transform(Xtrain)

In [105]:
tfid=TfidfTransformer()

In [106]:
tfid.fit(Xtrain_cv)

TfidfTransformer()

In [107]:
Xtrain_tfid=tfid.transform(Xtrain_cv)

In [108]:
from sklearn.naive_bayes import MultinomialNB

In [109]:
m=MultinomialNB()

In [110]:
m.fit(Xtrain_tfid,ytrain)

MultinomialNB()

In [111]:
Xtest_cv=cv.transform(Xtest)

In [112]:
Xtest_tfid=tfid.transform(Xtest_cv)

In [113]:
m.score(Xtest_tfid,ytest)

0.795

In [114]:
str="They pay good salary but work environment is not good"

In [115]:
str_cv=cv.transform([str])

In [116]:
str_tfid=tfid.transform(str_cv)

In [117]:
pred=m.predict(str_tfid)

In [118]:
if pred[0]=="neg":
    print("Negative Sentiment")
else:
    print("Positive Sentiment")

Positive Sentiment

# function-----for sentiment Analysis

In [119]:
def senti_fun(s):
    s1_cv=cv.transform([s])
    s1_tfid=tfid.transform(s1_cv)
    pred=m.predict(s1_tfid)
    if pred=="neg":
        return "Negative Sentiment"
    else:
        return "Positive Sentiment"

In [120]:
sentence=input("Enter a sentence  ")
senti_fun(sentence)

Enter a sentence  Hello...

'Positive Sentiment'